/* Reset */
window#waybar {
  border: none;
  font-family: Fira Code, "FontAwesome 5 Free Solid";
  font-size: 16px;
  min-height: 0;
  color: #DEDEDE;
  margin: 0;
  padding: 0;
  text-shadow: none;
  background: #141414;
}
#tray {
  font-family: sans-serif;
}
/****************/
/* Info modules */
/****************/
#temperature,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#disk {
  margin: 0 8px;
  border-top: solid 2px #FF00FF;
  padding: 4px;
}
#temperature,
#cpu {
  border-top-color: #e600e6;
}
#memory {
  border-top-color: #73e600;
}
#disk {
  border-top-color: #00bfe6;
}
#pulseaudio {
  border-top-color: #e67300;
}
#battery {
  border-top-color: #e6d200;
}
#network {
  border-top-color: #4c00e6;
}
/* Good and bad */
#battery.charging {
  border-color: #26A65B;
}
#battery.critical:not(.charging),
#network.disconnected,
#pulseaudio.muted {
  border-color: #f53c3c;
}
/**************/
/* Sway stuff */
/**************/
#workspaces button {
  padding: 0 4px;
  border-radius: 0;
}
#workspaces button label {
  color: #888888;
}
#workspaces button.focused,
#mode {
  background: #000;
}
#workspaces button.focused label,
#mode label {
  color: #DEDEDE;
}
#window {
  font-family: Cantarell;
  padding-left: 8px;
  color: #888888;
}
/*********/
/* Clock */
/*********/
#clock {
  font-family: Cantarell;
  font-size: 18px;
  padding: 0 8px;
}
