* {
	border: none;
	border-radius: 0;
	font-family: Fira Code, Roboto Mono, sans, sans-serif;
	font-size: 15px;
	min-height: 0;
	color: white;
}

window#waybar {
	background: rgba(0, 0, 0, 0.7);
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor, #workspaces button {
	padding: 4px 5px;
	margin: 0 5px;
	background: transparent;
	border-bottom: 3px #777 solid;
}

/* Sway stuff */
#workspaces button.focused, #mode {
	border-color: white;
}

#battery.charging {
	border-color: #26A65B;
}

#battery.critical:not(.charging), #network.disconnected, #pulseaudio.muted {
	border-color: #f53c3c;
}

