@define-color main_color #EEE;
@define-color faded_color #BBB;
@define-color background #222;
@define-color background_hi #000;

* {
	border: none;
	border-radius: 0;
	font-family: Fira Code, "FontAwesome 5 Free Solid";
	font-size: 16px;
	min-height: 0;
	color: @main_color;
	margin: 0;
}

window#waybar {
	background: @background;
}

#mpd, #clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor, #disk, #workspaces button {
	padding: 4px 8px;
	background: transparent;
}

#window {
	font-family: Cantarell;
	padding-left: 8px;
	color: @faded_color;
}

/* Sway stuff */
#workspaces button.focused, #mode {
	background: @background_hi;
}

#workspaces button:hover {
	/* override default style */
	text-shadow: none;
}

/* Good and bad */
#battery.charging {
	border-color: #26A65B;
}

#battery.critical:not(.charging), #network.disconnected, #pulseaudio.muted {
	border-color: #f53c3c;
}

